<template>
  <q-page>
    <MapFit
      apikey="591dccc4e499ca0001a4c6a460439276f57041a3b6de221a54367b3a"
      :center="[40.745934, -73.988280]"
    />
  </q-page>
</template>

<script>
import MapFit from 'components/Map.vue'

export default {
  // name: 'MapPage',
  components: {
    MapFit
  }
}
</script>

<style>
</style>
