<template>
  <q-layout>

  <q-layout-header>
    <q-toolbar color="secondary">
      <!--
        Toggles QLayout left side
        (Assuming the Drawer has a model bound to "leftSide")
      -->
      <q-btn
        flat round dense
        icon="menu"
        @click="leftSide = !leftSide"
      />

      <q-toolbar-title>
        Title
      </q-toolbar-title>

      <q-btn flat round dense icon="mail" />
      <q-btn flat round dense icon="alarm" />
    </q-toolbar>
  </q-layout-header>

  <q-search
    icon="place"
    inverted-light
    color="white"
    v-model="model"
    placeholder="Para onde?"
    class="fixed-top z-top q-ma-md"
    style="margin-top: 70px;" />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
